:local(.title) {
  background-color: navy;
  font-size: 18px;
  line-height: 2em;
  margin: 0;
  position: relative;
  text-align: center;
}
:local(.titleLink) {
  color: cornflowerblue;
  text-decoration: none;
}
:local(.icon) {
  position: absolute;
  right: 0.4em;
  top: 0.4em;
  width: 1.2em;
}
