:local(.taxLabel) {
  display: inline-block;
  margin-right: 0.5em;
}
:local(.inTaxCheck) {
  display: none;
}
:local(.inTax) {
  background-color: gainsboro;
  border-radius: 2px;
  color: grey;
  cursor: pointer;
  display: block;
  line-height: 2em;
  text-align: center;
  width: 20vw;
}
:local(.inTaxCheck:checked + .inTax) {
  background-color: greenyellow;
  color: green;
}
:local(.priceLabel) {
  line-height: 2em;
}
:local(.price) {
  border: none;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  line-height: 2em;
  margin-right: 0.5em;
  padding: 0 0.5em;
  width: 60vw;
}
:local(.unit) {
  float: right;
}
